.white-label-theme {
  --blue-main: #455065;
  --disabled-button-background-color: #455065;
  --primary-button-color: #fff;
  --highlighted-word-color: #d8d9dc;
  --link-color: #455065;
}

.toptal-dark-theme {
  --blue-main: #000000;
  --blue-darker: #000000;
  --gray-lighter: #131518;
  --code-background-color: #262d3d;
  --white: #262d3d;
  --black: #fff;
  --gray-dark: #fff;
  --gray-light-2: #000000;
  --gray-light: #000000;
  --gray-darker: #fff;
  --gray-main: #fff;

  --text-color: #fcfcfc;
  --dark-text-color: #c4c6ca;
  --editor-number-color: #fcfcfc;
  --disabled-button-background-color: #262d3d;
  --disabled-button-color: #c4c6ca;
  --notification-text-color: #000000;
  --secondary-button-background-color: #131518;
  --logo-emblem-color: #fff;
  --primary-button-color: #fff;
  --highlighted-word-color: #05947c;
  --link-color: #00cc83;
}

.menu-drawer-dark-theme {
  --white: #131518;
  --blue-main: #fff;
  --black: #fff;
  --logo-emblem-color: #fff;
  --blue-dark: #fff;
}

.modal-dark-theme {
  --white: #262d3d;
  --black: #fff;
  --gray-dark: #fff;
  --gray-darker: #fff;
  --gray-main: #fff;
}

.toptal-theme {
  --blue-main: #204ecf;
}

.skeleton-theme {
  --blue-main: #fff;
  --blue-darker: #fff;
  --gray-lighter: #fff;
  --code-background-color: #fff;
  --white: #fff;
  --black: #fff;
  --gray-dark: #fff;
  --gray-light-2: #fff;
  --gray-light: #fff;
  --gray-darker: #fff;
  --gray-main: #fff;
}
